<h2>"{{group.name}}"입니다~~</h2>
<p> 만든이  : {{group.owner.name}}</p>

<hr>
{{#my}}
    <a href="/mygroups/{{group.id}}/makepost"> 새 글쓰기 </a> &nbsp; &nbsp;
    <br>
    <a href="/invitesomeonetogroup/{{group.id}}"> 멤버 초대하기 </a>
{{/my}}
{{^my}}
    <a href="/groups/{{group.id}}/join"> 가입하기 </a> &nbsp; &nbsp;
    <br>
{{/my}}



<table>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>글쓴이</th>
    </tr>
    {{#posts}}

        <tr>
            <td>{{id}}</td>
            {{#my}}
            <td> <a href="/mygroups/{{group.id}}/post/{{id}}"> {{title}} </a></td>
            {{/my}}
            {{^my}}
                <td> <a href="/groups/{{group.id}}/post/{{id}}"> {{title}} </a></td>
            {{/my}}

            <td>{{publisher.name}}</td>

        </tr>

    {{/posts}}
</table>