<h2>새 글 쓰기</h2>
<form action="/mygroups/{{groupid}}/makepostsubmit" accept-charset="UTF-8" method="post">

    <h4> 제목 </h4>
    <input type="text" name="title">

    <h3> 내용 </h3>
    <textarea name="content" cols="40" rows="8"></textarea>

    <input class="btn btn-primary" type="submit" value="만들기"/> &nbsp; &nbsp;
</form>