
<form action="/makegroupsubmit" accept-charset="UTF-8" method="post">
    <h4> 모임명 </h4>
    <input class="form-control" type="text" name="groupName">

    <input class="btn btn-primary" type="submit" value="만들기"/> &nbsp; &nbsp;
</form>