{{#my}}
    내 그룹들 보여줘ㅏ
{{/my}}
{{^my}}
    전체 그룹 목록
{{/my}}

<form action="/findgroupSubmit">
    모임찾기 : <input type="text" name="groupname">
    <input type="submit" value="찾기"/> &nbsp;
</form>

<table>
    <tr>
        <th>모임명</th>
    </tr>
    {{#mygroupslist}}

        <tr>
            {{#my}}
                <td><a href="/mygroups/{{id}}"> {{name}} </a></td>
            {{/my}}
            {{^my}}
                <td><a href="/groups/{{id}}"> {{name}} </a></td>
            {{/my}}
        </tr>

    {{/mygroupslist}}
</table>
